version: "3"
services:
  dynamodb:
    image: amazon/dynamodb-local
    command: -jar DynamoDBLocal.jar -sharedDb -dbPath .
    ports:
      - "8001:8000"
  graphql:
    build:
      context: ./graphql
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ~/.aws/:/root/.aws:ro
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"

  accounts-service:
    environment:
      DYNAMODB_URL: ${DYNAMODB_URL}
      AWS_REGION: ${AWS_REGION}
      AWS_PROFILE: ${AWS_PROFILE}
    build:
      context: ./microservices/akello-account
      dockerfile: ./Dockerfile
    ports:
      - "8009:8000"
    volumes:
      - ~/.aws/:/root/.aws:ro
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"
  measurement-based-care:
    environment:
      DYNAMODB_URL: ${DYNAMODB_URL}
      AWS_REGION: ${AWS_REGION}
      AWS_PROFILE: ${AWS_PROFILE}
    build:
      context: ./microservices/clinical-model-measurement-based-care
      dockerfile: ./Dockerfile
    ports:
      - "8010:8000"
    volumes:
      - ~/.aws/:/root/.aws:ro
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  cache:
    driver: local