AWS_PROFILE=
TABLE_NAME=
AWS_REGION=
DYNAMODB_URL=

AWS_COGNITO_APP_CLIENT_ID=
AWS_COGNITO_USERPOOL_ID=

COGNITO_URL=
GRAPHQL_ENDPOINT=

SERVICE_API_ACCOUNT=
SERVICE_API_MEASUREMENT_BASED_CARE=


VITE_AKELLO_COGNITO_URL=
VITE_MICROSERVICE_ACCOUNT_API=
VITE_API=
VITE_AWS_REGION=
VITE_AWS_COGNITO_OAUTH_DOMAIN=
VITE_AWS_COGNITO_USERPOOL_ID=
VITE_AWS_COGNITO_APP_CLIENT_ID=
VITE_AWS_COGNITO_SIGNIN_URL=
VITE_AWS_COGNITO_SIGNOUT_URL=
VITE_APP_SITE_TITLE=Akello.io | DEV CoCM Registry
VITE_STRIPE_CHECKOUT_URL=
VITE_STRIPE_CUSTOMER_PORTAL=