@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.stop-watch {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 1em;
    padding: 2px;
}

.control {
    width: 300px;
    padding: 5px;
    margin-top: 15px;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #f44336;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.control:hover {
    background: #f44336;
    color: aliceblue;
}