name: Run API Server Tests
on: [push]
env:
  AKELLO_COGNITO_CI: TRUE
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        working-directory: servers/api-server
        run: pip install -r requirements.txt
      - name: Run unit tests
        working-directory: servers/api-server
        run: python -m unittest

